# .gitattributes snippet to force users to use same line endings for project.
# 
# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

## DOCKER
*.dockerignore text
Dockerfile text

## SOURCE CODE
*.bat      text eol=crlf
*.coffee   text
*.css      text
*.htm      text diff=html
*.html     text diff=html
*.inc      text
*.ini      text
*.js       text
*.json     text
*.jsx      text
*.less     text
*.od       text
*.onlydata text
*.php      text diff=php
*.pl       text
*.py       text diff=python
*.rb       text diff=ruby
*.sass     text
*.scm      text
*.scss     text
*.sh       text eol=lf
*.sql      text
*.styl     text
*.tag      text
*.ts       text
*.tsx      text
*.vue      text
*.xml      text
*.xhtml    text diff=html